<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        function upload_file() {
            console.log("in upload_file()")

            fetch("/upload", {
                method: "POST",
                body: document.getElementById("file-input").files[0],
            }).then(function (response) {
                if (response.status == 200) {
                    window.location.reload();
                } else {
                    alert("An error occurred while uploading the file. " + response.status);
                }
            });
        }
    </script>
    <p>Running on {{ ip }}</p>
    <img src="{{ qrcode(ip) }}" />
    <div class="input-group">
        <input id="file-input" type="file" name="file" required>
        <button onclick="upload_file()" class="btn btn-primary btn-block">Upload</button>
    </div>
    </form>
</body>

</html>