<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local File Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1><br />Local File Server</h1>
    <div class="container">
        <form class="box section input-box" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-section radio-section">
                <p>Choose behavior for duplicate files</p>
                <div>
                    <input id="fail-button" type="radio" name="duplicate-file-behavior" value="fail" class="radio-button" checked>
                    <label class="radio-item" for="fail-button">Reject duplicate</label>
                    <br>
                    <input id="replace-button" type="radio" name="duplicate-file-behavior" value="replace" class="radio-button">
                    <label class="radio-item" for="replace-button">Replace existing file</label>
                    <br>
                    <input id="skip-button" type="radio" name="duplicate-file-behavior" value="skip" class="radio-button">
                    <label class="radio-item" for="skip-button">Skip upload</label>
                    <br>
                    <input id="keep-button" type="radio" name="duplicate-file-behavior" value="keep" class="radio-button">
                    <label class="radio-item" for="keep-button">Keep both (rename new file)</label>
                </div>
            </div>
            <br>
            <div class="form-section">
                <label for="file-upload" class="input-button">Select File</label>
                <input id="file-upload" type="file" name="file" multiple />
                <span id="file-name"></span>
                <label for="submit-file" class="input-button">Upload</label>
                <input id="submit-file" type="submit" />
            </div>
        </form>
    </div>
    <div class="container">
        <div class="section">
            <h2>Instructions:</h2>
            <p>1. Open this webpage on all devices.</p>
            <p>2. Upload file(s) using the form above.</p>
            <p>3. Download file(s) onto other device(s) from the list.
                Click filename to view.</p>
        </div>
        <div class="section files">
            <h2>Files:</h2>
            {% for file in files %}
            <div>
                <a href="files/{{ file }}" target="_blank" title="View {{ file }}">{{ file }}</a>
                <a href="files/{{ file }}" download class="file-download" title="Download {{ file }}">Download</a>
                <a href="delete/{{file}}" class="delete-button" title="Delete {{ file }}">&times;</a>
            </div>
            {% endfor %}
        </div>
        <div class="section">
            <div class="box">
                <p>Running on <a href="{{ ip }}">{{ ip }}</a></p>
                <img src="{{ qrcode(ip) }}" />
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <script>
                alert("{{ message }}")
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
    </div>
    <script>
        document.getElementById("file-upload").addEventListener("change", () => {
            document.getElementById("file-name").innerHTML = Array.from(
                document.getElementById("file-upload").files
            ).map(file => file.name).join(", ");
        });
    </script>
</body>

</html>